*{
    overflow: hidde;
}
body{
    margin: 0;
    padding: 0;
    background-color: rgb(18, 18, 18);
    color: rgb(227, 227, 227);
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    font-family: Verdana, Tahoma, sans-serif;
    background-image: url("./images/background.jpg");
    height: 100vh;
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;  
    
}
header{
    width: 95%;
    max-width: 788px;
    display: flex;
    justify-content: flex-end;
    padding: 12px;
    margin-top: 15px;
}
.invis-button{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: rgb(88, 88, 88);
}
.container{
    width: 91%;
    max-width: 680px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
h1 {
    font-size: 20px;
    margin-bottom: 30px;
}
a {
    text-decoration: none;
    color: rgb(227, 227, 227);
}
.tile {
    width: 100%;
    height: 56px;
    background-color: rgba(39, 39, 39, 0.1);
    margin: 7px;
    border-radius: 17px;
    display: flex;
    justify-content: space-between;
    
}
.tile-disabled {
    width: 100%;
    height: 56px;
    background-color: rgba(39, 39, 39, 0.8);
    margin: 7px;
    border-radius: 17px;
    display: flex;
    justify-content: space-between;
}
.tile:hover{
    background-color: rgba(39, 39, 39, 0.5);
}
.invis-button{
    margin: 8px;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: rgba(49, 49, 49, 0);
}
.icon {
    margin: 8px 8px;
    width: 44px;
    height: 44px;
}
.image-container{
    border: 48px;
    background-color: rgba(26, 26, 26, 0.5);
    border-radius: 48px;
}
.image-container image{
    height: 100%;
}